/* styles.css */

.wrapper-register {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: rgb(34, 193, 195);
  background: linear-gradient(135deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(253, 187, 45, 1) 100%);
}

.container-register {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height: 500px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Add additional styles for the date picker if needed */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.react-datepicker__month-container {
  max-width: 240px;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
}

.react-datepicker__day {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}

.react-datepicker__day:hover {
  background-color: #eee;
}

/* Trong file styles.css */

.login-prompt {
  margin-top: 20px;
  text-align: center;
}

.login-prompt a {
  color: #3498db;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}