.seats-container {
  width: 97%;
  height: 90%;
  display: flex;
  flex: 1;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
}

.seat-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 30px;
  border: 1px solid black;
}
.seat-btn-add {
  width: 30px;
  height: 30px;
  margin-left: 37px;
  border-radius: 50%;
  padding: 5px;
  &:hover {
    background-color: rgb(217, 217, 217);
  }
}
.table-all-seat {
  overflow-y: auto;
}
