.user-level-wrapper {
  width: 99%;
  height: 99%;
  background-color: rgb(228, 228, 228);
}

.user-level-container {
  width: 95%;
  height: 90%;
  display: flex;
  position: sticky;
  top: 5.5rem;
  left: 24%;
  /* border-radius: 40px; */
  flex-direction: column;
  background-color: white;
}

.user-level-content {
  width: 100%;
  height: 100%;
}

.user-level-btn-add {
  width: 30px;
  height: 30px;
  margin-left: 37px;
  border-radius: 50%;
  padding: 5px;

  &:hover {
    background-color: rgb(217, 217, 217);
  }
}

.table-all-user {
  margin-top: 10px;
  overflow-y: auto;
}

.vtdllevl-btn-back {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;

  &:hover {
    background-color: rgb(212, 212, 212);
  }
}