.price-header-detail-background {
  width: 100vw;
  height: 95vh;
  background-color: rgba(200, 200, 200, 0.9);
  position: fixed;
  display: flex;
  right: 1px;
  top: 3rem;
  justify-content: center;
  align-items: center;
}

.price-header-detail-container {
  width: 95%;
  height: 90%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.price-header-detail-header {
  width: 100%;
  height: 25%;
}

.price-header-detail-header-edit {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

/* save */
.price-header-detail-header-edit-save {
  width: 5%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-right: 1px solid black;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.icon-save {
  width: 30px;
  height: 30px;
}

/* update */
.price-header-detail-header-edit-update {
  width: 5%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-right: 1px solid black;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.icon-update {
  width: 30px;
  height: 30px;
}

.price-header-detail-header-edit-detail {
  width: 5%;
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-right: 1px solid black;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.icon-detail {
  width: 30px;
  height: 30px;
}

/* Khoi new delete */
.price-header-detail-header-edit-new-delete {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.price-header-detail-header-edit-new {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.iconNew {
  width: 30px;
  height: 30px;
}

.price-header-detail-header-edit-delete {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
}

.iconDelete {
  width: 30px;
  height: 30px;
}

/* close */
.price-header-detail-header-close {
  display: flex;
  flex: 1;
  justify-content: end;
  padding: 5px;
}

.iconClose {
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
    padding: 5px;
    background-color: red;
    color: black;
  }
}

.price-header-detail-name {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.price-header-detail-content {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
}

.price-header-detail-content-left {
  width: 50%;
  height: 100%;
  padding-top: 50px;
}

.price-header-detail-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.input-price-header-detail-container {
  width: 50%;
  flex-direction: column;
  margin-right: 95px;
}

.price-header-detail-input-dem {
  flex: 1;
}

.input-price-header-detail {
  width: 100%;
  padding: 5px;
}

.input-address-price-header-detail {
  width: 100%;
  margin-top: 10px;
}

.input-address-price-header-detail-combobox {
  margin-right: 11px;
  margin-top: 10px;
}

.price-header-detail-content-right {
  width: 50%;
  height: 100%;
  padding-top: 50px;
}

.price-header-detail-date-picker {
  /* height: 29px;
  padding-left: 17px;
  margin-right: 230px; */
  /* padding-right: 50px; */
}

.price-detail-container-page {
  width: 99%;
}

.price-detail-table-page {
  margin-top: 10px;
  width: 100%;
  height: 350px;
  /* background-color: black; */
  overflow-y: auto;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: start;
}

.dialog-content {
  background: #fff;
  padding: 20px;
  margin-top: 10%;
  border-radius: 8px;
}

.dialog-buttons {
  margin-top: 10px;
  text-align: right;
}

.dialog-buttons button {
  margin-left: 10px;
}
